<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fooddonationapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".ViewStatusActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateStatusActivity"
            android:exported="false" />
        <activity
            android:name=".NgoRequestActivity"
            android:exported="false" />
        <activity
            android:name=".NgoContactActivity"
            android:exported="false" />
        <activity
            android:name=".DonorRequestActivity"
            android:exported="false" />
        <activity
            android:name=".DonorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".DonorContactActivity"
            android:exported="false" />
        <activity
            android:name=".DonorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".VolunteerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ViewFoodRequest"
            android:exported="false" />
        <activity
            android:name=".FoodRequestActivity"
            android:exported="false" />
        <activity
            android:name=".NgoHomeActivity"
            android:exported="false" />
        <activity
            android:name=".NgoRegActivity"
            android:exported="false" />
        <activity
            android:name=".VolunteerRegActivity"
            android:exported="false" />
        <activity
            android:name=".DonorRegActivity"
            android:exported="false" />
        <activity
            android:name=".UserlistActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>